body{
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7M52D1S438yv79UGcilae30lAmI5ELLkDFw&s");
    margin: 0px;
}
header{
    display: flex;
    justify-content: space-between;
    background-color:rgba(0, 0, 0, 0.863) ;
    width: 100%;
}
    
nav a{
    padding: 10px 15px;
    color: rgb(255, 255, 255);
    float: right;
}
nav a:hover{
    background-color: rgb(255, 255, 255);
}
.banner{
    float:left;
    color: rgb(255, 0, 0);
    font-size: 200%;
  
}
